[submodule "obsidian-skills"]
	path = submodules/obsidian-skills
	url = https://github.com/kepano/obsidian-skills
[submodule "mattpocock-skills"]
	path = submodules/mattpocock-skills
	url = https://github.com/mattpocock/skills
[submodule "awesome-llm-skills"]
	path = submodules/awesome-llm-skills
	url = https://github.com/Prat011/awesome-llm-skills.git
[submodule "caveman"]
	path = submodules/caveman
	url = https://github.com/juliusbrussee/caveman.git
[submodule "self-improving-agent"]
	path = submodules/self-improving-agent
	url = https://github.com/pskoett/self-improving-agent.git
[submodule "graphify"]
	path = submodules/graphify
	url = git@github.com:Graphify-Labs/graphify.git
[submodule "exa-skills"]
	path = submodules/exa-skills
	url = https://github.com/exa-labs/agent-skills.git
